## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gmaps_key

In [15]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Challenge_Results/WeatherPy_Challenge.csv")
city_data_df = city_data_df.rename(columns = {"City.1":"City Name"})
  
city_data_df.head()

,City,City Name,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,52.81,76,1,13.71,clear sky
1,1,Labuhan,ID,-6.8844,112.2051,73.27,78,59,7.72,broken clouds
2,2,Fortuna,US,40.5982,-124.1573,58.98,77,9,6.24,clear sky
3,3,Punaauia,PF,-17.6333,-149.6000,78.44,78,40,8.05,scattered clouds
4,4,Carmen,MX,18.6333,-91.8333,84.56,67,73,7.61,broken clouds

In [16]:
#get the data types
city_data_df.dtypes

City                     int64
City Name               object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [17]:
# Configure gmaps API key
gmaps.configure(api_key=gmaps_key)

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,City Name,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Punaauia,PF,-17.6333,-149.6000,78.44,78,40,8.05,scattered clouds
5,5,Namatanai,PG,-3.6667,152.4333,78.67,85,24,6.71,few clouds
6,6,Waraseoni,IN,21.7500,80.0333,75.31,95,100,3.24,overcast clouds
14,14,Bellevue,US,47.6104,-122.2007,77.95,63,0,8.05,clear sky
20,20,Atuona,PF,-9.8000,-139.0333,76.71,68,68,17.90,broken clouds
28,28,Bandarbeyla,SO,9.4942,50.8122,76.66,81,100,31.88,overcast clouds
35,35,Tateyama,JP,34.9833,139.8667,79.11,89,100,11.18,overcast clouds
38,38,Castro,BR,-24.7911,-50.0119,75.83,39,93,3.71,overcast clouds
49,49,Vila Velha,BR,-20.3297,-40.2925,75.94,69,1,4.00,clear sky
66,66,Adamovka,RU,51.5223,59.9396,76.53,37,66,10.60,broken clouds

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City                   0
City Name              0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City,City Name,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Punaauia,PF,-17.6333,-149.6000,78.44,78,40,8.05,scattered clouds
5,5,Namatanai,PG,-3.6667,152.4333,78.67,85,24,6.71,few clouds
6,6,Waraseoni,IN,21.7500,80.0333,75.31,95,100,3.24,overcast clouds
14,14,Bellevue,US,47.6104,-122.2007,77.95,63,0,8.05,clear sky
20,20,Atuona,PF,-9.8000,-139.0333,76.71,68,68,17.90,broken clouds
...,...,...,...,...,...,...,...,...,...,...
632,632,Eyl,SO,7.9803,49.8164,77.99,75,97,24.54,overcast clouds
639,639,Valasske Klobouky,CZ,49.1406,18.0076,77.76,61,6,4.72,clear sky
656,656,Teknaf,BD,20.8624,92.3058,79.27,87,100,6.20,overcast clouds
661,661,Ha Tinh,VN,18.3333,105.9000,76.86,89,4,2.75,clear sky
669,669,Ca Mau,VN,9.1769,105.1500,77.49,91,14,1.79,few clouds

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City Name", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City Name,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Punaauia,PF,78.44,scattered clouds,-17.6333,-149.6000,
5,Namatanai,PG,78.67,few clouds,-3.6667,152.4333,
6,Waraseoni,IN,75.31,overcast clouds,21.7500,80.0333,
14,Bellevue,US,77.95,clear sky,47.6104,-122.2007,
20,Atuona,PF,76.71,broken clouds,-9.8000,-139.0333,
28,Bandarbeyla,SO,76.66,overcast clouds,9.4942,50.8122,
35,Tateyama,JP,79.11,overcast clouds,34.9833,139.8667,
38,Castro,BR,75.83,overcast clouds,-24.7911,-50.0119,
49,Vila Velha,BR,75.94,clear sky,-20.3297,-40.2925,
66,Adamovka,RU,76.53,broken clouds,51.5223,59.9396,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City Name,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Punaauia,PF,78.44,scattered clouds,-17.6333,-149.6000,HÔTEL TAHITI IA ORA BEACH RESORT
5,Namatanai,PG,78.67,few clouds,-3.6667,152.4333,Seagulls Inn Namatani
6,Waraseoni,IN,75.31,overcast clouds,21.7500,80.0333,Thakre Bhavan
14,Bellevue,US,77.95,clear sky,47.6104,-122.2007,The Westin Bellevue
20,Atuona,PF,76.71,broken clouds,-9.8000,-139.0333,Villa Enata
28,Bandarbeyla,SO,76.66,overcast clouds,9.4942,50.8122,JABIR HOTEL
35,Tateyama,JP,79.11,overcast clouds,34.9833,139.8667,Tateyama Seaside Hotel
38,Castro,BR,75.83,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
49,Vila Velha,BR,75.94,clear sky,-20.3297,-40.2925,Hotel Vitória Palace
66,Adamovka,RU,76.53,broken clouds,51.5223,59.9396,Gostinitsa

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(10.0, 50.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))